<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        Welcome  to the <%= title%> page of Todo list  
        <%- body %>
        <script src="https://kit.fontawesome.com/652fd62302.js" crossorigin="anonymous"></script>
    </body>
</html>